.about-container{
    margin-top: 30px;
    display: flex;
}
.about-image img{
    width: 720px;
    height: 532px;
}
.about-content{
    padding: 100px;
    background-color: #F3F5F7;
    width: 800px;
}
.about-content .sale{
    color: blue;
    font-weight: 600;
    font-size: 15px;
    margin-left: 13px;
}
.about-content h2 {
   background-color:#F3F5F7;
    font-size: 35px;
    text-align: start;
}
.about-content p{
    font-size: 16px;
    margin-left: 13px;
}
.about-content a{
    font-size: 16px;
    margin-left: 13px;
    color: black;
}

